img{
    height: 150px;
    width: 150px;
}
#a{
    color: violet;
}
#b{
    color: indigo;
}
li{
    color: rgb(122, 62, 218);
}
#c{
    color: blue;
}
#d{
    color: green;
}
h3{
    color: rgb(236, 100, 76);
}
#abc{
    color: gray;
}
button{
    background-color: grey;
    border: 0cap;
    color: rebeccapurple;
}
html{
    
    background-color: antiquewhite;
}


h1{
    color:rgba(248, 120, 61, 0.849);
}




